@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  letter-spacing: 0.05rem;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 6rem;
}
@media (max-width: 50em) {
  header {
    padding: 2rem 4rem;
  }
}
@media (max-width: 37.5em) {
  header {
    padding: 1.5rem 2.5rem;
  }
}

.header__fixed {
  position: fixed;
  background-color: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  z-index: 20;
}
@media (max-width: 50em) {
  .header__fixed {
    position: absolute;
  }
}

.logo > a {
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
}

.header__fixed > .logo > a {
  color: #31CDFF;
}

footer {
  background-color: #1A1A1A;
  color: #fff;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 5rem 10%;
  text-align: center;
}
footer > span {
  font-size: 1.5rem;
}

/*Navigation*/
@media (max-width: 50em) {
  .responsive__menu {
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 25rem;
    z-index: 1;
    border-left: 1px #31CDFF solid;
    transform: translateX(30rem);
    transition: 300ms all;
  }
}
@media (max-width: 37.5em) {
  .responsive__menu {
    width: 22rem;
  }
}
@media (max-width: 25em) {
  .responsive__menu {
    width: 20rem;
  }
}
@media (max-width: 20em) {
  .responsive__menu {
    width: 18rem;
  }
}
.responsive__menu > ul {
  display: flex;
  list-style: none;
}
@media (max-width: 50em) {
  .responsive__menu > ul {
    list-style: none;
    margin: 5rem auto auto;
    flex-direction: column;
    padding: 2rem;
  }
}
.responsive__menu > ul > li {
  margin-left: 2rem;
}
@media (max-width: 50em) {
  .responsive__menu > ul > li {
    margin-top: 2rem;
    text-transform: uppercase;
  }
}
.responsive__menu > ul > li > a {
  font-size: 1.7rem;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-weight: 500;
  transition: 300ms all;
}
@media (max-width: 50em) {
  .responsive__menu > ul > li > a {
    font-size: 2.2rem;
    text-decoration: none;
    color: #1A1A1A;
    text-transform: capitalize;
    font-weight: 500;
  }
}
.responsive__menu > ul > li > a:hover {
  color: #31CDFF;
}
.responsive__menu.show__menu {
  transform: translateX(0rem);
}

.header__fixed > .responsive__menu > ul > li > a {
  color: #1A1A1A;
}
.header__fixed > .responsive__menu > ul > li > a:hover {
  color: #31CDFF;
}

.nav__icon {
  cursor: pointer;
  height: 2rem;
  margin: 1rem;
  position: fixed;
  right: 2.5rem;
  transform: rotate(0deg);
  transition: 300ms all;
  top: 2rem;
  width: 4.5rem;
  z-index: 2;
  display: none;
}
@media (max-width: 50em) {
  .nav__icon {
    display: block;
  }
}
.nav__icon > span {
  background-color: #31CDFF;
  display: block;
  position: absolute;
  height: 5px;
  width: 4.5rem;
  border-radius: 50px;
  left: 0;
  transform: rotate(0deg);
  transition: 300ms all;
}
.nav__icon > span:first-child {
  top: 0;
}
.nav__icon > span:nth-child(2) {
  top: 0.75rem;
  cursor: auto;
}
.nav__icon > span:last-child {
  top: 1.55rem;
}
.nav__icon.menu__open > span:first-child {
  top: 6px;
  transform: rotate(145deg);
}
.nav__icon.menu__open > span:nth-child(2) {
  background-color: transparent;
  left: -4.5rem;
}
.nav__icon.menu__open > span:last-child {
  top: 6px;
  transform: rotate(-145deg);
}

.home1 {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/hero.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home1__content {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  max-width: 50%;
}
@media (max-width: 56.25em) {
  .home1__content {
    max-width: 65%;
  }
}
@media (max-width: 50em) {
  .home1__content {
    max-width: 80%;
  }
}
@media (max-width: 37.5em) {
  .home1__content {
    max-width: 90%;
  }
}
.home1__content > h1 {
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 120%;
}
@media (max-width: 50em) {
  .home1__content > h1 {
    font-size: 3.25rem;
  }
}
@media (max-width: 37.5em) {
  .home1__content > h1 {
    font-size: 2.75rem;
  }
}
.home1__content > p {
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 120%;
  margin: 2rem 0;
  font-weight: 500;
}
@media (max-width: 50em) {
  .home1__content > p {
    font-size: 1.75rem;
    margin: 3rem 0;
  }
}
@media (max-width: 37.5em) {
  .home1__content > p {
    margin: 2rem 0;
  }
}
.home1__content > div {
  margin: 1rem 0 0;
}
.home1__content > div > a {
  text-shadow: none;
  font-size: 1.5rem;
  font-weight: 500;
}
@media (max-width: 50em) {
  .home1__content > div > a {
    font-size: 1.25rem;
  }
}
@media (max-width: 37.5em) {
  .home1__content > div > a {
    font-size: 1.2rem;
  }
}
.home1__content > div > a:first-child {
  margin-right: 1rem;
}

.home2 {
  padding: 10rem 10% 0;
  position: relative;
}
@media (max-width: 65.62em) {
  .home2 {
    padding: 5rem 5% 2.5rem;
  }
}
.home2 > svg {
  position: absolute;
  top: 5rem;
  left: -10rem;
}
@media (max-width: 37.5em) {
  .home2 > svg {
    top: -4rem;
    width: 20rem;
  }
}
.home2__content {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-gap: 3rem;
  position: relative;
}
@media (max-width: 50em) {
  .home2__content {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
@media (max-width: 37.5em) {
  .home2__content {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
}
.home2__content--first > h2 {
  font-size: 4rem;
  line-height: 110%;
}
@media (max-width: 50em) {
  .home2__content--first > h2 {
    font-size: 3rem;
  }
}
@media (max-width: 37.5em) {
  .home2__content--first > h2 {
    font-size: 2rem;
  }
}
.home2__content--first > p {
  font-size: 2rem;
  margin-top: 3rem;
  line-height: 120%;
}
@media (max-width: 50em) {
  .home2__content--first > p {
    font-size: 1.75rem;
    margin-top: 2rem;
  }
}
@media (max-width: 37.5em) {
  .home2__content--first > p {
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }
}
.home2__content--last > img {
  width: 40rem;
  height: auto;
}
@media (max-width: 56.25em) {
  .home2__content--last > img {
    width: 32.5rem;
  }
}
@media (max-width: 50em) {
  .home2__content--last > img {
    width: 30rem;
  }
}
@media (max-width: 43.75em) {
  .home2__content--last > img {
    width: 25rem;
  }
}
@media (max-width: 37.5em) {
  .home2__content--last > img {
    width: 100%;
  }
}

.home3 {
  padding: 5rem 10%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  background-color: #1A1A1A;
  justify-items: center;
  text-align: center;
}
@media (max-width: 65.62em) {
  .home3 {
    padding: 2.5rem 5%;
  }
}
.home3 > h2 {
  color: #fff;
  font-size: 4rem;
  line-height: 110%;
}
@media (max-width: 56.25em) {
  .home3 > h2 {
    font-size: 3rem;
  }
}
@media (max-width: 37.5em) {
  .home3 > h2 {
    font-size: 2.5rem;
  }
}
.home3__plans {
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}
@media (max-width: 50em) {
  .home3__plans {
    grid-template-columns: 1fr;
    margin: 0 20%;
  }
}
@media (max-width: 43.75em) {
  .home3__plans {
    margin: 0 10%;
  }
}
@media (max-width: 37.5em) {
  .home3__plans {
    margin: 0;
  }
}
.home3__plans--plan {
  border: #fff solid 2px;
  border-radius: 50px;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: stretch;
  align-items: center;
}
.home3__plans--plan > h3 {
  font-size: 2.5rem;
  text-decoration: underline;
  margin: 1rem 0rem 1.5rem;
}
@media (max-width: 56.25em) {
  .home3__plans--plan > h3 {
    font-size: 2rem;
  }
}
.home3__plans--plan > div > p {
  font-size: 1.4rem;
  margin: 1rem 0;
}
@media (max-width: 56.25em) {
  .home3__plans--plan > div > p {
    font-size: 1.2rem;
  }
}
@media (max-width: 50em) {
  .home3__plans--plan > div > p {
    font-size: 1.5rem;
  }
}
.home3__plans--plan > div > p:first-child {
  font-size: 1.6rem;
  margin: 1.3rem 0;
}
@media (max-width: 56.25em) {
  .home3__plans--plan > div > p:first-child {
    font-size: 1.3rem;
  }
}
@media (max-width: 50em) {
  .home3__plans--plan > div > p:first-child {
    font-size: 1.6rem;
  }
}
.home3__plans--plan > a {
  margin: 1.5rem 0rem 1rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.home4 {
  padding: 5rem 10%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  justify-items: center;
  text-align: center;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}
@media (max-width: 65.62em) {
  .home4 {
    padding: 2.5rem 5%;
  }
}
.home4 > h2 {
  font-size: 4rem;
  line-height: 110%;
}
@media (max-width: 56.25em) {
  .home4 > h2 {
    font-size: 3rem;
  }
}
@media (max-width: 37.5em) {
  .home4 > h2 {
    font-size: 2.5rem;
  }
}
.home4__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
@media (max-width: 56.25em) {
  .home4__content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 37.5em) {
  .home4__content {
    grid-template-columns: 1fr;
  }
}
.home4__content > div {
  padding: 2rem;
  background-color: #F2F2F2;
  border-radius: 50px;
  z-index: 2;
}
.home4__content > div > h3 {
  font-size: 2rem;
  line-height: 120%;
  margin-bottom: 1.5rem;
}
@media (max-width: 56.25em) {
  .home4__content > div > h3 {
    font-size: 1.8rem;
  }
}
.home4__content > div > p {
  font-size: 1.5rem;
  font-weight: 600;
}
.home4 > svg {
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  width: 75rem;
  z-index: 1;
}
@media (max-width: 50em) {
  .home4 > svg {
    width: 50rem;
    bottom: 10rem;
  }
}
@media (max-width: 43.75em) {
  .home4 > svg {
    display: none;
  }
}

.home5 {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  min-height: 20vh;
}
.home5 > a {
  font-size: 2.25rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0rem 0 4rem;
}
@media (max-width: 56.25em) {
  .home5 > a {
    font-size: 2rem;
  }
}

.languages-hero {
  min-height: 60vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.languages-hero > h1 {
  color: #fff;
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 120%;
  text-align: center;
  max-width: 40%;
}
@media (max-width: 56.25em) {
  .languages-hero > h1 {
    max-width: 60%;
  }
}
@media (max-width: 50em) {
  .languages-hero > h1 {
    font-size: 3.25rem;
    max-width: 80%;
  }
}
@media (max-width: 37.5em) {
  .languages-hero > h1 {
    font-size: 2.75rem;
    max-width: 90%;
  }
}

.languages-subtitle {
  padding: 5rem 10%;
  background-color: #F2F2F2;
}
@media (max-width: 65.62em) {
  .languages-subtitle {
    padding: 5rem 5%;
  }
}
.languages-subtitle > p {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.languages-programs {
  padding: 5rem 10%;
  background-color: #fff;
  display: grid;
  justify-items: center;
  align-items: center;
}
@media (max-width: 65.62em) {
  .languages-programs {
    padding: 5rem 5%;
  }
}
.languages-programs > h2 {
  font-size: 4rem;
  line-height: 110%;
  text-align: center;
}
@media (max-width: 50em) {
  .languages-programs > h2 {
    font-size: 3rem;
  }
}
@media (max-width: 37.5em) {
  .languages-programs > h2 {
    font-size: 2rem;
  }
}
.languages-programs > span {
  margin: 2rem 0;
}
.languages-programs > .english3__characters {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}
@media (max-width: 37.5em) {
  .languages-programs > .english3__characters {
    grid-template-columns: 1fr;
  }
}
.languages-programs > .english3__characters > h2 {
  font-size: 4rem;
  line-height: 110%;
}
@media (max-width: 50em) {
  .languages-programs > .english3__characters > h2 {
    font-size: 3rem;
  }
}
@media (max-width: 37.5em) {
  .languages-programs > .english3__characters > h2 {
    font-size: 2rem;
  }
}
.languages-programs > .english3__characters > div {
  background-color: #F2F2F2;
  border-radius: 50px;
  padding: 2rem 3rem;
}
.languages-programs > .english3__characters > div > h3 {
  font-size: 2rem;
  line-height: 120%;
  margin-bottom: 1.5rem;
}
@media (max-width: 56.25em) {
  .languages-programs > .english3__characters > div > h3 {
    font-size: 1.8rem;
  }
}
.languages-programs > .english3__characters > div > p {
  font-size: 1.5rem;
  font-weight: 600;
}

.languages-cta {
  background-color: #F2F2F2;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  min-height: 20vh;
  padding: 5rem 10%;
}
@media (max-width: 65.62em) {
  .languages-cta {
    padding: 5rem 5%;
  }
}
.languages-cta > p {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
.languages-cta > a {
  font-size: 2.25rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  margin: 4rem 0;
}
@media (max-width: 56.25em) {
  .languages-cta > a {
    font-size: 2rem;
  }
}

.english1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/ingles.jpg");
}

.german1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/aleman.jpg");
}

.contact1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/contact.jpg");
}

.contact2 {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  padding: 5rem 10%;
  overflow-x: hidden;
}
@media (max-width: 65.62em) {
  .contact2 {
    padding: 5rem 5%;
  }
}
@media (max-width: 31.25em) {
  .contact2 {
    padding: 5rem 2%;
  }
}
.contact2 > h2 {
  font-size: 4rem;
  line-height: 110%;
  text-align: center;
  max-width: 70%;
}
@media (max-width: 50em) {
  .contact2 > h2 {
    font-size: 3rem;
    max-width: 85%;
  }
}
@media (max-width: 37.5em) {
  .contact2 > h2 {
    font-size: 2rem;
    max-width: 100%;
  }
}
.contact2__form {
  border-radius: 50px;
  padding: 3rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 31.25em) {
  .contact2__form {
    padding: 3rem 2rem;
  }
}
.contact2__form > div > input {
  font-family: "Poppins", sans-serif;
  outline: 0;
  border-width: 0 0 1px;
  border-color: #1A1A1A;
  font-size: 2rem;
}
@media (max-width: 37.5em) {
  .contact2__form > div > input {
    font-size: 1.7rem;
  }
}
.contact2__form--fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
@media (max-width: 50em) {
  .contact2__form--fields {
    grid-template-columns: 1fr;
  }
}
.contact2__form--languages {
  font-size: 2rem;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 2rem;
  margin-top: 2rem;
}
@media (max-width: 50em) {
  .contact2__form--languages {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
@media (max-width: 37.5em) {
  .contact2__form--languages {
    font-size: 1.7rem;
  }
}
.contact2__form--languages-options {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  column-gap: 1rem;
}
@media (max-width: 50em) {
  .contact2__form--languages-options {
    grid-template-columns: repeat(2, max-content);
  }
}
@media (max-width: 37.5em) {
  .contact2__form--languages-options {
    grid-template-columns: 1fr;
  }
}
.contact2__form--languages-options > div:first-child {
  margin-left: 0;
}
.contact2__form--message {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 2rem;
}
@media (max-width: 50em) {
  .contact2__form--message {
    margin: 2rem 0;
  }
}
.contact2__form--message > span {
  font-size: 2rem;
}
@media (max-width: 37.5em) {
  .contact2__form--message > span {
    font-size: 1.7rem;
  }
}
.contact2__form--message > textarea {
  font-family: "Poppins", sans-serif;
  height: 10rem;
  width: 100%;
  resize: none;
  outline: 0;
  border-color: #1A1A1A;
  font-size: 1.7rem;
  margin-top: 0.5rem;
}
@media (max-width: 37.5em) {
  .contact2__form--message > textarea {
    font-size: 1.3rem;
  }
}

.btn {
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: all 300ms;
  display: inline-block;
}
.btn__c-blue-g {
  background-image: linear-gradient(90deg, #31CDFF 0%, #008FBC 100%);
  color: #fff;
}
.btn__c-blue-g:hover {
  background-image: linear-gradient(90deg, #fff 0%, #fff 100%);
  color: #31CDFF;
}
.btn__c-white {
  background-color: #fff;
  color: #1A1A1A;
}
.btn__c-white:hover {
  animation: BackgroundGradientWhiteToBlue 300ms all;
  background-image: linear-gradient(90deg, #31CDFF 0%, #008FBC 100%);
  color: #fff;
}
.btn__c-black {
  background-color: #1A1A1A;
  color: #fff;
  border: solid 2px #fff;
}
.btn__c-black:hover {
  background-color: white;
  color: #1A1A1A;
}
.btn__s-normal {
  padding: 1rem 3.5rem;
}
.btn__sh-normal {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@keyframes BackgroundGradientWhiteToBlue {
  0% {
    background-image: linear-gradient(90deg, #008FBC 0%, #31CDFF 100%);
  }
  100% {
    background-image: linear-gradient(90deg, #31CDFF 0%, #008FBC 100%);
  }
}
.line {
  background-color: #31CDFF;
  width: 5rem;
  height: 5px;
}

/*# sourceMappingURL=main.css.map */
