@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


//Font family
$f-primary: 'Poppins', sans-serif;

//Colors
$c-primary:#31CDFF;
$c-primary-dark: #008FBC;
$c-black: #1A1A1A;
$c-white: #fff;
$c-grey: #F2F2F2;