footer {
    background-color: $c-black;
    color: $c-white;

    display: grid;
    justify-items: center;
    align-items: center;
    padding: 5rem 10%;
    text-align: center;
    & > span {
        font-size: 1.5rem;
    }
}
